  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Kofer-Blog!</h1>
      <p class="lead">Hello, this is my first page ever ^^ .</p>
      <hr class="my-4">
      <p>Have a nice day</p>
      <a class="btn btn-dark btn-lg" href="#" role="button">Sign up!</a>
    </div>
  </div>
