@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #000000 !important;
}
.nav-link {
  color: #FFFFFF !important;
}
#logo {
  color: #FFFFFF !important;
}
#home-container {
  margin-top: 25px;
}
.jumbotron {
  background-image: asset-url('123.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}
#page-content{
  background-color: #F8D4C1;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
