@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #000000 !important;
}
.nav-link {
  color: #FFFFFF !important;
}
#logo {
  color: #FFFFFF !important;
}
#home-container {
  margin-top: 25px;
}
.jumbotron {
  background-image: asset-url('123.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}
#page-content{
  background-color: #F8D4C1;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* pagination */
.apple_pagination {
  background: #F8D4C1;
  border: 1px solid #F8D4C1;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #F8D4C1;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline}
/* pagination */
